name: Deploy Cloud Resume

on:
  push:
    branches:
      - master 

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy Infrastructure & Website
    runs-on: ubuntu-latest
    
  
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "eu-central-1"

    steps:
     
      - name: Checkout Code
        uses: actions/checkout@v4

    
      - name: Setup Rust & Cargo Lambda
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: cargo-lambda/cargo-lambda
          platform: linux
          arch: x86_64
      
      - name: Install Zig
        run: pip3 install ziglang

      - name: Build Backend
        run: |
          cd backend
          cargo lambda build --release --output-format zip
      
     
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

     
      - name: Terraform Init
        run: terraform init

      
      - name: Terraform Apply
        run: terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "eu-central-1"
          TF_VAR_spotify_client_id: ${{ secrets.SPOTIFY_CLIENT_ID }}
          TF_VAR_spotify_client_secret: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
          TF_VAR_spotify_refresh_token: ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
          TF_VAR_telegram_token: ${{ secrets.TELEGRAM_TOKEN }}
          TF_VAR_telegram_chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
      
      - name: Deploy Frontend to S3
        run: |
          BUCKET_NAME=$(terraform output -raw resume_bucket_name) # Assicurati di avere questo output nel main.tf!
          aws s3 cp index.html s3://$BUCKET_NAME/
          aws s3 cp style.css s3://$BUCKET_NAME/
          aws s3 cp script.js s3://$BUCKET_NAME/
          
      
      - name: Invalidate CloudFront
        run: |
          DIST_ID=$(terraform output -raw cloudfront_id)
          aws cloudfront create-invalidation --distribution-id $DIST_ID --paths "/*"